.App {
  text-align: center;
}



.App {
  text-align: center;
  background-color: black;
  color: darkturquoise;
 
}

h2 {
  color: white;
  text-align: none;
  margin-right: 100px;;
}


.returnData {
  width: auto;
  border: solid green 3px;
  padding: 10px;
  border-radius: 60%;
  margin: 0px;
 
}

.returnData1 {
  width: auto;
  border: solid green 3px;
  padding: 50px;
  border-radius: 60%;
  margin: 20px;
}

.returnDataOutside {
 
  /* border-right: solid green 2px;
  border-left: solid green 2px;
  margin-left: 20px; */
}

.nav-list {
  display: inline;
  padding: 10px;
  font-size: 25px;
  text-shadow: -1px 1px 0 white,
  1px 1px 0 white,
 1px -1px 0 white,
-1px -1px 0 white;
}

.portal-img {
  backgroundColor: purple;
  border-radius: 40%;
  /* border: solid yellow 5px; */
}

.nav-link {
  padding: 10px;
  font-size: 25px;
  color: darkturquoise;
  text-decoration: none;

}

/* .rotating-css {
  animation: rotating 2s linear;
  animation-iteration-count: infinite;
} */


/* This code was inspired by http://jsfiddle.net/3jGzF/4/ */

.formClass {

  position:absolute;
      top:55%;
      left:46%;

}

#submit-button {

margin: 20px;

}