.App {
  text-align: center;
  background-color: black;
  color: lightgreen;
}

h3 {
  color: green;
}

.returnData {
  width: auto;
  border: solid green 3px;
  padding: 10px;
  border-radius: 60%;
  margin: 40px;
}

.returnData1 {
  width: auto;
  border: solid green 3px;
  padding: 50px;
  border-radius: 60%;
  margin: 20px;
}
