body {
  background-color: black;
}
.App {
  text-align: center;
  color: darkturquoise;
 text-align: center;
 
}

h2 {
  color: white;
  text-align: none;
  margin-right: 100px;;
}

.logo-div {
  margin-bottom: 0;

}

/* .returnData {
  width: auto;
  border: solid green 3px;
  padding: 10px;
  border-radius: 60%;
  margin: 0px;
 
}

.returnData1 {
  width: auto;
  border: solid green 3px;
  padding: 50px;
  border-radius: 60%;
  margin: 20px;
} */

.returnDataOutside {
 
  /* border-right: solid green 2px;
  border-left: solid green 2px;
  margin-left: 20px; */
}

.nav-link {
  display: inline;
  /* padding: 10px; */
  border: solid white 3px;
  font-size: 45px;
  text-shadow: -1px 1px 0 orange,
  1px 1px 0 orange,
 1px -1px 0 orange,
-1px -1px 0 orange;
  color: darkturquoise;
  text-decoration: none;
  margin-top: 500px;
  padding: 2px;
  margin-left: 10px;
  border-radius: 30%;
}

.portal-img {
  backgroundColor: purple;
  border-radius: 40%;
  height: 100%;
  /* border: solid yellow 5px; */
}


/* .rotating-css {
  animation: rotating 2s linear;
  animation-iteration-count: infinite;
} */


/* This code was inspired by http://jsfiddle.net/3jGzF/4/ */

.formClass {
  margin-top: 100px;

  /* position:absolute;
      top:55%;
      left:46%; */

}

#submit-button {

margin: 20px;

}

.cards {
  padding: 20px;
  border: solid green 5px;
  margin: 20px;
  display: inline-block;
  border-radius: 50%;
}

.card-image {
  border-radius: 50%;
  padding: 10px;
}

.home {
  /* background-image: url("https://i.ibb.co/5LQx7xL/Testy-Disloyal-Chinchilla-size-restricted.gif"); */
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content:center;
}

.portal {
  margin-top: 30px;

}

.portal-div {
  background-image: url("https://i.ibb.co/2PSY3x9/stars.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  max-width: 100%;
}

.portal-rm1 {
  width: 650px;
  
}
.portal-rm2 {
  width: 650px;
  margin-bottom: 250px;
  margin-right: 100px;
 
}
.portal-text {
  writing-mode:tb-rl;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform:rotate(90deg);
  transform: rotate(90deg);
  white-space:nowrap;
  display:block
}

.home-nav-div {
  margin: 200px;
  padding: 300px;

}

.locations-title {
  padding-top: 60px;
}

.portal-gun {
  height: 80px;
  position: absolute;
  top:0;
  left: 0;

}

h1 {
  /* font-family: 'Creepster', cursive; */
  font-family: 'Press Start 2P', cursive;
  font-size: 60px;
}

.morty-portal {
  /* padding-right: 0; */
  height: 120px;
}

.summer-pic {
  height: 200px;
  margin: 20px;
}

.main-logo {
  height: 500px;
  margin-top: 0;
  padding-top: 0;
}